*.o
*.lo
*.swp
*.la
.libs
.deps
Makefile
Makefile.in
INSTALL
aclocal.m4
autom4te.cache
config.guess
config.h
config.h.in
config.log
config.status
config.sub
configure
depcomp
gtk-doc.make
install-sh
libtool
ltmain.sh
missing
stamp-h1
